<% include ./partials/header.ejs %>


<h1>Item Show</h1>


<% getResults.result.forEach((get) =>{ %>



	<% if (get.material_id == itemId){ %>


		<%= get.description %>


		<%= get.long_description %>


		<button>Recycle</button>



	<% } %>


<% }); %>


<% include ./partials/footer.ejs %>